.main{
    .slider{
        margin-top: 50px;
        width: 100%;
    }
    .categories{
           .watchAgain{
                display: flex;
                flex-wrap: nowrap;
                margin-left: 70px;
                margin-top: 30px;
            }
            .romantic{
                display: flex;
                flex-wrap: nowrap;
                margin-left: 70px;
            }
            .actions{
                display: flex;
                flex-wrap: nowrap;
                margin-left: 70px;
            }
            .adventure{
                display: flex;
                flex-wrap: nowrap;
                margin-left: 70px;
            }
            .moviesCard{
                width: 300px;
                height: 300px;
                color: white;
                img{
                    width: 250px;
                    height: 150px;
                }
            }
    }
    
 

}