.footer{
    margin: 30px 0 30px 0;
    .footerLogo{
            display: flex;
            justify-content: center;
    }
    .footerLink{
        display: flex;
        justify-content: center;
       a{
        color: #79b8f3;
        text-decoration:none;
        padding: 15px 20px 0 20px;
        }
        p{
         color: gray;

        }
    }
}